body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
.main-headline{
  font-size: 55px;
  text-align: center;
  color: white;
}
.description{
  text-align: center;
  color: white;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(rgb(248, 50, 50), rgb(241, 111, 111));
  padding: 10px 30px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}
.first-section{
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8%;
  text-align: center;
}
.second-headline{
  font-size: 45px;
}
.second-section{
  text-align: center;
  padding: 9%;
}
.container{
  display: flex;
  margin-left: 10%;
}
.element{
  height: 95px;
  width: 155px;
  background-color: whitesmoke;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  color: dimgray;
}
.ele-differnet{
  text-align: center;
  height: 93px;
  width: 153px;
  background-color: rgb(248, 224, 224);
  margin: 10px;
  font-size: 20px;
  border: 2px solid rgb(250, 151, 151);
  border-radius: 5px;
  color: rgb(248, 94, 94);
}
.descript{
  color: darkgray;
  text-align: center;
}
div hr{
  margin-left: 10%;
  margin-right: 10%;
}
.third-headline{
  text-align: center;
  font-size: 45px;
}
.third-section{
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
}
#food{
  background-color: rgb(220, 240, 247);
  padding: 25px 10px 25px 10px;
  margin: 20px ;
  text-align: left;
}
#shelter{
  background-color: rgb(253, 228, 228);
  padding: 25px 10px 25px 10px;
  margin: 20px ;
  text-align: left;
}
#education{
  background-color: rgb(250, 227, 201);
  padding: 25px 10px 25px 10px;
  margin: 20px ;
  text-align: left; 
}